.block{
    width: 75px;
    height: 75px;
    background-color: #a6b17e;
  border: 10px outset rgb(233, 225, 50);
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer{
    
    text-align: center;
}
#cellContainer{
    display:grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
    flex-wrap: wrap;

}
.hidden{
    background-color: aquamarine;
    
}
.myStyle {
  background-color: rgb(92, 177, 92);
}
.myStyle2 {
  background-color: red;
}

#message{
  color:rgb(201, 72, 72);
  size:30px
}
body{background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,#383e25 0 180deg) 
       64px 36.928px,
      repeating-conic-gradient(from 30deg,#a6b17e 0 60deg,#737d4c 0 120deg,#383e25 0 180deg);
background-size: 128px 74px;
font-family: Cursive;
}
h1{
  color: crimson;
}